# Build and Release Folders
build-qt_lvgl_simulink-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
build-untitled-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
debug_and_release/
Out_Obj/
Xian_Template/Obj/
Run_Xian.uvguix.Administrator
DebugConfig/
Xian_Template/EW-ARM(v8x)/Flash/Obj
Xian_Template/EW-ARM(v8x)/settings
Xian_Template/MDK-ARM(uV5)/Listings
LVGL_Monitor/Debug
#lvgl组件内的obj对象文件需要提交
!LVGL_Monitor/lvgl/examples/widgets/obj
# Other files and folders
*.o
.settings
*.json
*.dbgconf
# Executables
*.swf
*.air
*.ipa
*.apk
*.axf
*.chm
*.user
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
qt_lvgl_simulink.pro.user
lvgl-qt-sim.pro.user.f559df6
lvgl-qt-sim-music-demo.pro.user.f559df6
Run_Xian.uvoptx
Run_Xian.uvguix.Administrator
Run_Xian.uvguix.TRX
Run_Xian.uvoptix
Run_Xian.dep