[submodule "Ls_Monitor_Lower_HW"]
	path = Ls_Monitor_Lower_HW
	url = ../Ls_Monitor_Lower_HW
	branch = master
[submodule "Ls_Monitor_Lower_SW"]
	path = Ls_Monitor_Lower_SW
	url = ../Ls_Monitor_Lower_SW
	branch = master
